body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

html{
  height: 100%;
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6{
  margin-top: 0.27em;
  margin-bottom: 0.17em;
}

p{
  margin-top: 0.17em;
  margin-bottom: 1.37em;
}


a, body, div, h1, h2, h3, label, li, p, span, ul, img {
    user-select: none;
}

a{
  -webkit-tap-highlight-color: none;
}

/* width */
div::-webkit-scrollbar {
    width: 5px;
}

/* Track */
div::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

/* Handle */
div::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
div::-webkit-scrollbar-thumb:hover {
    background: #555; 
}


.fade-enter{
  opacity: 0.01
}

.fade-enter.fade-enter-active{
  opacity: 1;
  transition: opacity 200ms ease-in;
}

.fade-leave{
  opacity: 1;
}

.fade-leave.fade-leave-active{
  opacity: 0.01;
  transition: opacity 200ms ease-in;
}

button{
  padding: 0 20px !important;
}